# default value: https://github.com/sxyazi/yazi/blob/shipped/yazi-config/preset/yazi-default.toml

[mgr]
ratio = [1, 3, 3]
sort_by = "natural"
linemode = "size"

[preview]
max_width = 6000
max_height = 9000

[opener]
edit = [
  { run = '${EDITOR:-nvim} "$@"', desc = "$EDITOR", block = true, for = "unix" },
  { run = 'code "$@"', orphan = true, desc = "VSCode", for = "macos" },
  { run = 'cd "$@" && neovide', block = true, orphan = true, desc = "Neovide", for = "macos" },
  { run = 'XDG_CONFIG_HOME=~/.config presenterm "$@"', block = true, desc = "Presenterm", for = "macos" },
]

[plugin]
prepend_fetchers = [
  # yazi-rs/plugins:git
  { id = "git", name = "*", run = "git" },
  { id = "git", name = "*/", run = "git" },
]
